<h1>Autor</h1>

<p>
    Página web creada por Alvaro Escobosa Lopez.
</p>

<img src="https://www.gannett-cdn.com/-mm-/8df14407076208d7eb873520fdb92869e66379ee/c=193-0-1799-2856&r=583&c=0-0-580-1031/local/-/media/2016/01/21/USATODAY/usatsports/gty_474876710_73350140.jpg" width="200" />

<hr />

<div>
    <img src="/images/logos/ditupm.gif" width="8%"/>
    <img src="/images/logos/UPM.jpog" width="8%"/>
    <img src="/images/logos/nodejs.png" width="8%"/>
    <img src="/images/logos/npm.png" width="8%"/>
    <img src="/images/logos/sequelize.png" width="8%"/>
    <img src="/images/logos/SQLite.png" width="8%"/>
    <img src="/images/logos/express.png" width="8%"/>
    <img src="/images/logos/cloudinary.png" width="8%"/>
    <img src="/images/logos/heroku.png" width="8%"/>
    <img src="/images/logos/postgres.png" width="8%" />
</div>
